article>h1{
  font-size: 60px;
  text-align: center;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

section>h2{
  text-shadow: 1px 1px 3px black;
  font-size: 30px;
  left:50px;
  color:red;
}

h2~p{
  font-size: 20px;
  margin-left: 310px;
}

html{

  background: url(background.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: serif;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 25px;
}

ul>li {
    float: left;
}

ul>li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    border-radius: 25px;
}

ul>li a:hover {
    background-color: #111;
}

h2+img{
  float:left;
}

p~ol{
  margin-left: 310px;
  font-size: 20px;
  list-style-type: disc;
}

div{
  font-size: 20px;
  margin-left: 310px;
}

br{
  clear:both;
}


@-webkit-keyframes example {
0%   {color: red;}
25%  {color: black;}
50%  {color: red;}
75% {color:black;}
100% {color: red;}

}
